.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Connexion{
    width: 80%;
    height: fit-content;
    max-width: 60rem;
    max-height: 45rem;
    background: var(--BGradial);
    border-radius: 1rem;
    border: solid 2px var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.Connexion input{
    font-size: larger;
    height: 3rem;
    width: 80%;
    border-radius: 1rem;
    border: solid 2px var(--primary);
    background: var(--BGradial);
    outline: none;
    text-align: center;
    color: var(--primary);
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}
.Connexion input:focus{
    box-shadow: 0px 0px 15px 5px var(--primary_blur);
}

.Connexion input::placeholder{
    transition: all 0.2s ease-in-out;
    color: var(--primary);
}

.Connexion input:focus::placeholder{
    opacity: 0;
}

.Connexion button{
    width: 50%;
    height: 3rem;
    cursor: pointer;
    border-radius: 1rem;
    border: solid 2px var(--primary);
    background: var(--BGradial);
    font-family: var(--font);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out
}

.Connexion button:hover{
    background: var(--primary);
    color: var(--bg_main);
    box-shadow: 0px 0px 15px 5px var(--primary_blur);
}




.Connexion h1{
    font-family: var(--font);
    color: var(--primary);
    font-size: clamp(3rem,10vw,5rem);
}


@media (orientation: portrait) and (max-width:768px) {
    .Connexion button{
        cursor: default;
    }
    
}