*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body,#root{
    width: 100%;
    height: 100%;
    background-color: black;
}

#root{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    background-color: #00090c;
}


:root{
    --bg_main: #0b0f1a;
    --bg_secondary: #121826;
    --primary: #00e5ff;
    --primary_blur: #00e5ff80;
    --primary_glow: #00bcd4;
    --accent: #2979ff;
    --text_main: #e6f1ff;
    --text_muted: #7f8fa6;
    --danger: #ff3b3b;
    --font:'Orbitron', sans-serif;
    --header_height:4rem;
    --BGradial:radial-gradient(circle,var(--bg_main),var(--bg_secondary));

    /* 
    #d4f0fc	(212,240,252)
    #89d6fb	(137,214,251)
    #02a9f7	(2,169,247)
    #02577a	(2,87,122)
    #01303f	(1,48,63)   
    */
}

