.Header{
    position: relative;
    height: fit-content;
    background: radial-gradient(circle,var(--bg_main),var(--bg_secondary));
    border-bottom: solid 2px var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-app-region:drag;
    transition: all 0.3s ease-in-out;
}

.Header button{
    position: relative;
    border: none;
    background: none;
    color: var(--primary);
    font-family: var(--font);
    height: fit-content;
    width: fit-content  ;
    outline: none;
    cursor: pointer;
    -webkit-app-region:no-drag;
}

.Header:hover{
    box-shadow: 0px 0px 15px 5px var(--primary_blur);
}

.Header button h1{
    font-size: clamp(1.5rem,10vw,2.5rem);
}



.Header nav{
    color: var(--primary);
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header nav button{
    height: 100%;
    aspect-ratio: 1/1;
    transition: all 0.2s ease-in-out;
}

.Header nav button:hover{
    background-color: var(--primary_blur);
}

.Header nav button svg{
    height: 80%;
}

